@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    z-index: 100;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #639D41;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #639D41;
}
#home{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: rgb(255, 255, 255);
}

#about{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: black;
}

.honeycomb img{
    width: 55%;
    position: relative;
}

.honeycomb img:nth-child(2){
    width: 50%;
    position: relative;
    left: -11%;
    top: -500px;
}

.flying_eye{
    width: 35%;
    height: 45%;
    position: fixed;
    top:15% ;
    left: 60%;
    overflow: hidden;
}
.flying_eye h1{
    font-size: 150px;
    font-family: "Modern Antiqua", serif;
    font-optical-sizing: auto;
    font-style: bold;
    position: relative;
    top: -100px;
    color: rgb(21, 49, 21);
    animation: flying 1s ease-in ;
    left: 0px;
}

.flying_eye h1:nth-child(2){
    position: relative;
    top: -200px;
    text-align: left;
    left: 45%;
    text-size-adjust: 2px;
    animation: eye 0.5s ease-in ;
}

p{
    color:  rgb(21, 49, 21);
    position: fixed;
    top: 60%;;
    left: 59%;
    width: 37%;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@keyframes flying {
    0%{
        left: -530px;
    }
    90%{
        left: 10px;
    }
    100%{
        left: 0px;
    }
}
@keyframes eye {
    0%{
        left: 100%;
    }
    90%{
        left: 50%;
    }
    100%{
        left: 45%;
    }
}

.navbar{
    width: 99.2%;
    height: 10%;
    background-color: transparent;
    position: absolute;
    top: 3px;
    left: 5px;
    border: solid transparent;
    border-top-left-radius: 100px;
    box-shadow: 10px 14px 15px inset rgba(0, 0, 0, 0.562), -10px -10px 10px inset rgba(0, 0, 0, 0.452) ;
    backdrop-filter: blur(10px);
    z-index: 5;
}
.navbar img {
    height: 50px;
    filter: blur(0px);
    margin-right: 15px;
    position: relative;
    top: 10px;
    left: 90%;
    opacity: -1;
}

.comtainer_img{
    width: 750px;
    height: 550px;
    position: absolute;
    top:15%;
    display: flex;
    flex-direction: row;
    left: 45%;
    background: transparent;
    overflow: hidden;
}

.comtainer_img img{
    width: 33.33%;
}

#s11{
    position: relative;
    top: 100%;
}
#s12{
    position: relative;
    top: 100%;
}
#s13{
    position: relative;
    top: 100%;
}

.info-box{
    position: fixed;
    top: 75%;
    left: 50%;
    width: 5%;
    height: 10%;
    border: solid none;
    border-radius: 12%;
}

.info-box button{
    display: none;
    background: transparent;
    border: none transparent;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: aliceblue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.info-box button:hover{
    background-color: #639D41;
    box-shadow: 0px 15px 20px rgba(73, 229, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.plant-needs button:active{
    transform: translateY(-1px);
}


.plant-needs{
    position: fixed;
    top: 75%;
    left: 60%;
    width: 5%;
    height: 10%;
    border: solid none;
    border-radius: 12%;
}

.plant-needs button{
    display: none;
    background: transparent;
    border: none transparent;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: aliceblue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.plant-needs button:hover{
    background-color: #639D41;
    box-shadow: 0px 15px 20px rgba(73, 229, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.plant-needs button:active{
    transform: translateY(-1px);
}

.sensor{
    position: fixed;
    top: 75%;
    left: 70%;
    width: 5%;
    height: 10%;
    border: solid none;
    border-radius: 12%;
}

.sensor button{
    display: none;
    background: transparent;
    border: none transparent;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: aliceblue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.sensor button:hover{
    background-color: #639D41;
    box-shadow: 0px 15px 20px rgba(73, 229, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


#about1{
    width: 45%;
    font-size: 24px;
    top: 35%;
    left: 50%;
    font: 200;
    display: none;
}
#about1 span {
    font-weight: 500;
    color: #639D41;
}

p:nth-child(3){
    width: 45%;
    font-size: 24px;
    top: 50%;
    left: 50%;
    font: 200;
    display: none;
}
p:nth-child(3) span {
    font-weight: 500;
    color: #639D41;
}
