<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sensor.css">
    <title>SENSOR | DETAILS </title>
</head>
<body>
    <div class="card">
        <div class="value" id="timeStamp">{{ sensor_data.timestamp }}</div>
        <div class="label">Time Stamp</div>
    </div>
    <div class="card">
        <div class="value" id="phValue">{{ sensor_data.ph_mv }}</div>
        <div class="label">Ph Value</div>
    </div>
    <div class="card">
        <div class="value" id="soilMoisture">{{ sensor_data.water_temp_c }}</div>
        <div class="label">Water Temperature</div>
    </div>
    <div class="card">
        <div class="value" id="phValue">{{ sensor_data.water_flow_l_min }}</div>
        <div class="label">Water Flow</div>
    </div>
    <div class="card">
        <div class="value" id="waterTemperature">{{ sensor_data.turbidity_v }}</div>
        <div class="label">Turbidity</div>
    </div>
    <div class="card">
        <div class="value" id="airMoisture">{{ sensor_data.tds_mv }}</div>
        <div class="label">TDS Sensor</div>
    </div>
    <div class="card">
        <div class="value" id="tdsValue">{{ sensor_data.humidity_percent }}</div>
        <div class="label">Humidity Percentage</div>
    </div>
    <div class="contain">
        <button id="credit" class="credit"></button>
    </div>
    <!-- <div class="card2">
        <div class="value2" id="aet">   </div>
    </div>
    <div class="card2">
        <div class="value2" id=""></div>
    </div>
    <div class="card2">
        <div class="value2" id="aet"></div>
    </div> -->
</body>
</html>