body {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background-color: #f0f4f8;

    font-family: 'Arial', sans-serif;

    flex-wrap: wrap;

}

.card {

    width: 250px;
    height: 100px;

    margin: 10px;

    padding: 20px;

    border-radius: 15px;

    background: linear-gradient(135deg, #a8e063, #56ab2f);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    text-align: center;

    color: #fff;

}

.value {

    font-size: 30px;

    font-weight: bold;

    margin: 10px 0;

}

.label {

    font-size: 1.2em;

    font-weight: 500;

}

.card2 {

    width: 250px;
    height: 100px;

    margin: 10px;

    padding: 20px;

    border-radius: 15px;

    background: linear-gradient(135deg, #a8e063, #56ab2f);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    text-align: center;

    color: #fff;

}

.value2 {

    font-size: 30px;

    font-weight: bold;

    margin: 10px 0;

}

.label {

    font-size: 1.2em;

    font-weight: 500;

}
