<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="home">
        <div class="honeycomb">
            <img src="static/honeycomb.png" alt="" srcset="">
            <img src="static/plant.png" alt="">
        </div>
        <div class="navbar">
            <img src="/static/flyingEyeLogo.png" alt="logo" id="logo">
        </div>
        <div class="flying_eye" id="flying_eye">
            <h1>FLYING</h1>
            <h1>EYE</h1>  
        </div>
        <p id="m_abt">
        </p>
        <div class="comtainer_img">
            <img src="static/image1.jpg" alt="" id="s11">
            <img src="static/image2.jpg" alt="" id="s12">
            <img src="static/image3.jpg" alt="" id="s13">
        </div>
    </div>
    <p id="about1">A <span>real-time, well-controlled system</span> where farmers can monitor, <span>AET ( Actual Evapotranspiration )</span> effectivelly which combines Drone with Sensors and Software.</p>
    <p id="about2">Effective uses such as water, pesticides and fertilizers will <span> reduce the environmental impact of agriculture.</span>
    </p>
    <div id="info-box" class="info-box">
        <button id="ai_btn" onclick="window.location.href='/chat'">Kisaan-AI</button>
    </div>

    <div id="plantNeeds" class="plant-needs">
        <button id="f1_btn"  onclick="window.location.href='https://plant-needs.vercel.app/'">Plant Needs</button>
    </div>
    
    <div id="sensor" class="sensor">
        <button id="s_btn"  onclick="window.location.href='/sensor'">Sensor Monitor</button>
    </div>
    <!-- <div id="about">

    </div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="/static/src.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="/static/animation.js"></script>
</html>